*
{
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body
{
    background-color: #AAB6A6;
    transition: padding-top .5s ease;
}
/* Header */
.header {
    background-color: #AAB6A6;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-family: 'Sacramento', cursive;
}
/* Nav bar */
#nav {
    overflow: hidden;
    background-color: #AAB6A6;
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-family: 'Wprk Sans', sans-serif ;
}
#nav .logo
{
    width: 50%
}
#nav ul
{
    display: flex;
    justify-content: left;
    align-items: center;
}
#nav ul li
{
    list-style: none;
    margin-left: 20px;
}
#nav ul li a
{
    text-decoration: none;
    padding: 30px;
    border-radius: 40%;
    box-sizing: border-box;
    background-color: wheat;
    color: black;
    font-weight: bold;
}
#nav ul li a:hover{
    background: white;
    color: black;
}
#nav ul li a.active
{
    background: white;
    color: black;
}

/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
    background-color: #C5A079;
    /* padding: 20px; */
    text-align: center;
    font-size: 24px;
    /* margin-left: 5px; */
    /* border-radius: 20% 0 0 20% ; */
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #F3E7DE;
    padding: 20px;
    margin-right: 10px;
    /* border-radius: 0 20% 20% 0 ; */
  
  }
  .row .side ul
  {
    display: block;
    justify-content: left;
    align-items: center;
  }
  .row .side ul li a
  {
    text-decoration: none;
    border-radius: 30%;
    box-sizing: border-box;
    /* background-color: wheat; */
    color: black;
    font-weight: bold;
  }
  .row .side ul li a.active
{
    color: white;
}